<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>

      <%= $game.player1.player_name %> attacked <%= $game.player2.player_name %>
      <br></br>
       <%= $game.player2.player_name %> now has: <%= $game.player2.health %>/100HP
       <%= $game.player1.player_name %> now has: <%= $game.player1.health %>/100HP
       <form action="/play">
         <input type="submit" value="Keep playing">
       </form>

    </body>
  </html>
